.img {
    width: 6em;
}
.login{
    margin-top: 3em;
}
/* estilos de botones */
.xl{
    width: 15em;
}
.btn-yellow{
    background-color: #F6A800;
}
/* fondo del login */
.fondoLogin{
    background-color: #3E3F41;
    color: white;
}
/* fondo de las demas pantallas */
.fondoPantallas{
    background-color: #DDDEE0;
}
.fondonavbar{
    background-color: #3E3F41;
}
/* estilos de imagen */
.img-user{
    width: 12em;
}
.sidenav{
    width: 223px;
}
#nav-mobile li a{
    font-size: 134%;
    margin-left: 1em;
}
.fondo-yellow{
   background-color: #F6A800;
   margin-top: 0;
   padding: 1em;

}
.formaTarjeta{
    background-color: white;
    padding: 0.5em;

}

.contSaldo h5{
    background-color: #F6A800;
    color: black;
    margin-bottom: 0;
}
.contSaldo p{
    background-color: white;
    color: black;
    margin-top: 0;
    padding: 1em;
}